<!DOCTYPE html>

<html>

    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/tomorrow-night.min.css"> -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/kimbie.dark.min.css">
        <link rel="stylesheet" type="text/css" href="{{base_url}}assets/css/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>notes - {{name}}</title>
    </head>

    <body>
        <header>
            <div class="container">
                <h1>{{name}}</h1>

                {{#if parents}}
                    <div class="parents">
                        <ol class="breadcrumb">
                            {{#each parents}}
                                <li><a href="{{url}}">{{name}}</a></li>
                            {{/each}}
                            <li>{{name}}</li>
                        </ol>
                    </div>
                {{/if}}

            </div>
        </header>
